<div class="wrapper">
	<div class="page-header page-header-xs" data-parallax="true"
		style="background-image: url('./assets/img/fabio-mangione.jpg');">
		<div class="filter"></div>
	</div>
	<div class="section profile-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-4" style="padding-bottom: 90px;">
					<div class="owner">
						<div class="avatar">
							<img src="./assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image"
								class="img-circle img-no-padding img-responsive">
						</div>
						<div class="name">
							<h4 class="title">John Doe</h4>
							<h6 class="description">Chief Financial Officer</h6>
						</div>
					</div>
					<div class="ml-auto mr-auto text-center">
						<p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised,
							Brooklyn-based Nick
							Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel
							with a solid
							groove structure. </p>
						<br />
						<div class="social-line text-center">
							<a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
								<i class="fa fa-google-plus"></i>
							</a>
							<a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
								<i class="fa fa-twitter"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4" style="padding-bottom: 90px;">
					<div class="owner">
						<div class="avatar">
							<img src="./assets/img/faces/joe-gardner-2.jpg" alt="Circle Image"
								class="img-circle img-no-padding img-responsive">
						</div>
						<div class="name">
							<h4 class="title">Jane Faker</h4>
							<h6 class="description">Chief executive Officer</h6>
						</div>
					</div>
					<div class="ml-auto mr-auto text-center">
						<p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised,
							Brooklyn-based Nick
							Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel
							with a solid
							groove structure. </p>
						<br />
						<div class="social-line text-center">
							<a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
								<i class="fa fa-google-plus"></i>
							</a>
							<a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
								<i class="fa fa-twitter"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4" style="padding-bottom: 90px;">
					<div class="owner">
						<div class="avatar">
							<img src="./assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image"
								class="img-circle img-no-padding img-responsive">
						</div>
						<div class="name">
							<h4 class="title">Jack Fisher</h4>
							<h6 class="description">Chief Technology Officer</h6>
						</div>
					</div>
					<div class="ml-auto mr-auto text-center">
						<p>An artist of considerable range, Jane Faker — the name taken by Melbourne-raised,
							Brooklyn-based Nick
							Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel
							with a solid
							groove structure. </p>
						<br />
						<div class="social-line text-center">
							<a href="#pablo" class="btn btn-neutral btn-facebook btn-just-icon">
								<i class="fa fa-facebook-square"></i>
							</a>
							<a href="#pablo" class="btn btn-neutral btn-google btn-just-icon">
								<i class="fa fa-google-plus"></i>
							</a>
							<a href="#pablo" class="btn btn-neutral btn-twitter btn-just-icon">
								<i class="fa fa-twitter"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<br />
			<div class="nav-tabs-navigation">
				<div class="nav-tabs-wrapper">
					<ngb-tabset [justify]="'center'">
						<ngb-tab title="Our Team">
							<ng-template ngbTabContent>
								<div class="row following" id="follows">
									<div class="col-md-6 ml-auto mr-auto">
										<ul class="list-unstyled follows">
											<li>
												<div class="row">
													<div class="col-md-2 col-sm-2 ml-auto mr-auto">
														<img src="./assets/img/faces/clem-onojeghuo-2.jpg"
															alt="Circle Image"
															class="img-circle img-no-padding img-responsive">
													</div>
													<div class="col-md-6 col-sm-4 ml-auto">
														<h6>Flume<br /><small>project manager</small></h6>
													</div>
													<div class="col-md-4 col-sm-2 ml-auto mr-auto">
														<div class="social-line text-center">
															<a href="#pablo"
																class="btn btn-neutral btn-facebook btn-just-icon">
																<i class="fa fa-facebook-square"></i>
															</a>
															<a href="#pablo"
																class="btn btn-neutral btn-google btn-just-icon">
																<i class="fa fa-google-plus"></i>
															</a>
															<a href="#pablo"
																class="btn btn-neutral btn-twitter btn-just-icon">
																<i class="fa fa-twitter"></i>
															</a>
														</div>
													</div>
												</div>
											</li>
											<hr />
											<li>
												<div class="row">
													<div class="col-md-2 col-sm-2 ml-auto mr-auto">
														<img src="./assets/img/faces/ayo-ogunseinde-2.jpg"
															alt="Circle Image"
															class="img-circle img-no-padding img-responsive">
													</div>
													<div class="col-md-6 col-sm-4 ml-auto">
														<h6>Barns<br /><small>senior developer</small></h6>
													</div>
													<div class="col-md-4 col-sm-2 ml-auto mr-auto">
														<div class="social-line text-center">
															<a href="#pablo"
																class="btn btn-neutral btn-facebook btn-just-icon">
																<i class="fa fa-facebook-square"></i>
															</a>
															<a href="#pablo"
																class="btn btn-neutral btn-google btn-just-icon">
																<i class="fa fa-google-plus"></i>
															</a>
															<a href="#pablo"
																class="btn btn-neutral btn-twitter btn-just-icon">
																<i class="fa fa-twitter"></i>
															</a>
														</div>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</ng-template>
						</ngb-tab>
						<ngb-tab title="Our Clients">
							<ng-template ngbTabContent>
								<h3 class="text-muted">Dont have any clients yet :(</h3>
								<br>
								<button class="btn btn-warning btn-round">Become one</button>
							</ng-template>
						</ngb-tab>
					</ngb-tabset>
				</div>
			</div>
		</div>
	</div>
</div>